.hearts {
    display: flex;
    justify-content: center;
}
.heart {
    width: 100px;
    margin: 10px;
}
.vert {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.bigFont {
    font-size: 96px;
    padding: 0%;
    margin: 4%;
}