.body-style1 {
    background-color: lightgrey;
    text-align: center;
}
.header-style1 {
    background-size: auto;
    background-color: lightgrey; /* background color */
    height: 20vh; /* Adjust the height as needed */
    margin: 0;
    padding: 0;
}
/*Provides background color for whole page*/
.titlelogo-style1 {
    position: absolute;
    top: 5%; /* vertical position of the logo */
    left: 50%; /* horizontal position of the logo */
    transform: translateX(-50%);
    width: 500px; /* size */
    height: auto; /* aspect ratio */
}
.logo-style1 {
    display: block;
    margin: 0 auto; /* Centers the logo horizontally */
    margin-top: 20px; /* Adjusts spacing between header and logo */
    width: 300px; /* Adjust the size of the logo */
    height: auto; /* Maintains aspect ratio */
}
/* Style for the logo underneath the header */

.h1-style1 {
    text-align: center;
    font-family: impact;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 80px;
}
/*Formats for large headers. We can add different formats for h2, h3, etc or use IDs to format specific text*/

.button-style1 {
    text-align: center;
    padding: 20px 80px; /*Defines button size*/
    margin: 4px 2px; /*Defines space between buttons*/
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: Copperplate;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 36px; /*Gives buttons a rounded shape*/
    transition: background 0.3s, transform 0.2s;
    transition-duration: 0.2s;
}
/*Gives some formatting for simple buttons. Most should be self explanatory*/

.button-style1:hover {
    background-color: lime;
    color: black;
}
/*Changes color of buttons when hovering over them*/

.center-style1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*For use in center aligning. Not sure if it's working or not though...*/

.footer-style1 {
    font-size: 12px;
    position: relative;
    text-align: center;
    color: black;
}