.body {
    text-align: center;
    background-color: #6dc9fd;
    margin: 0;
    padding: 0;
}
/*Provides background color for whole page*/

.header {
    background: url('images/header200px.png') repeat-x center top;
    background-size: auto;
    background-color: #6dc9fd; /* background color */
    height: 20vh; /* Adjust the height as needed */
    margin: 0;
    padding: 0;
  }
/*Provides formatting for striped header*/

.titlelogo {
    
    position: absolute;
    top: 5%; /* vertical position of the logo */
    left: 50%; /* horizontal position of the logo */
    transform: translateX(-50%);
    width: 500px; /* size */
    height: auto; /* aspect ratio */
}
  /* Style for Wii-font game title */

.logo {
    display: block;
    margin: 0 auto; /* Centers the logo horizontally */
    margin-top: 20px; /* Adjusts spacing between header and logo */
    width: 300px; /* Adjust the size of the logo */
    height: auto; /* Maintains aspect ratio */
}
/* Style for the logo underneath the header */



.h1 {
    text-align: center;
    font-family: impact;
    font-size: 48px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
}
/*Formats for large headers. We can add different formats for h2, h3, etc or use IDs to format specific text*/

.button {
    text-align: center;
    padding: 20px 80px; /*Defines button size*/
    margin: 4px 2px; /*Defines space between buttons*/
    cursor: pointer;
    background: linear-gradient(0deg, #ACDAFF, #76C2FF, #ACDAFF);
    color: white;
    font-size: 24px;
    font-family: Copperplate;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 36px; /*Gives buttons a rounded shape*/
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    transition-duration: 0.2s;
}
/*Gives some formatting for simple buttons. Most should be self explanatory*/

.button:hover {
    background: linear-gradient(0deg, #5A8CFF, #4063B5, #5A8CFF);
    color: white;
}
/*Changes color of buttons when hovering over them*/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*For use in center aligning. Not sure if it's working or not though...*/

.footer {
    font-size: 12px;
    position: relative;
    text-align: center;
    color: black;
}
.table {
    margin-left: auto;
    margin-right: auto;
}
.tbody {
    text-align: center;
}