.body-style3 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
/*Provides background color for whole page*/

.header-style3 {
    background: url('images/header_stripes_3.png') repeat-x center top;
    background-size: auto;
    background-color: #6dc9fd; /* background color */
    height: 20vh; /* Adjust the height as needed */
    margin: 0;
    padding: 0;
  }
/*Provides formatting for striped header*/

.titlelogo-style3 {
    
    position: absolute;
    top: 5%; /* vertical position of the logo */
    left: 50%; /* horizontal position of the logo */
    transform: translateX(-50%);
    width: 500px; /* size */
    height: auto; /* aspect ratio */
}
  /* Style for Wii-font game title */

.logo-style3 {
    display: block;
    margin: 0 auto; /* Centers the logo horizontally */
    margin-top: 20px; /* Adjusts spacing between header and logo */
    width: 300px; /* Adjust the size of the logo */
    height: auto; /* Maintains aspect ratio */
}
/* Style for the logo underneath the header */



.h1-style3 {
    text-align: center;
    font-family: impact;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 80px;
}
/*Formats for large headers. We can add different formats for h2, h3, etc or use IDs to format specific text*/

.button-style3 {
    text-align: center;
    padding: 20px 80px; /*Defines button size*/
    margin: 4px 2px; /*Defines space between buttons*/
    cursor: pointer;
    background: linear-gradient(0deg, #ACDAFF, #76C2FF, #ACDAFF);
    color: white;
    font-size: 24px;
    font-family: Copperplate;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 36px; /*Gives buttons a rounded shape*/
    transition: background 0.3s, transform 0.2s;
    transition-duration: 0.2s;
}
/*Gives some formatting for simple buttons. Most should be self explanatory*/

.button-style3:hover {
    background: linear-gradient(0deg, #5A8CFF, #4063B5, #5A8CFF);
    color: white;
}
/*Changes color of buttons when hovering over them*/

.center-style3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*For use in center aligning. Not sure if it's working or not though...*/

.footer-style3 {
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    color: white;
    flex-shrink: 0; /* Ensures the footer stays at the bottom */
    text-align: center;
    /* Additional footer styling */
}
.table-style3 {
    margin: 0 auto;
    border: 0px solid;
    border-radius: 20px;
}

.row-style3{
    border: solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(22, 195, 218);
    text-align: center;
    width: 400px;
}

.column-style3{
    border: solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(198, 248, 255);
    text-align: center;
    width: 400px;
    color: black;
}

.itemDisplayed-3{
    border: solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px;
    background: linear-gradient(rgb(75, 204, 255), rgb(0, 183, 255), rgb(32, 158, 207));
    text-align: center;
    width: 400px;
    color: white;
}

.tbody {
    text-align: center;
}

.guess_style_3 {
    text-align: center;
    padding: 10px 40px;
    margin: 4px 2px;
    cursor: pointer;
    background: linear-gradient(0deg, #ACDAFF, #76C2FF, #ACDAFF);
    color: white;
    font-size: 24px;
    font-family: Copperplate;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 0 36px 36px 0;
    transition: background 0.3s, transform 0.2s;
    transition-duration: 0.2s;
}

.guess_style_3:hover {
    background: linear-gradient(0deg, #5A8CFF, #4063B5, #5A8CFF);
    color: white;
}
/*Changes color of buttons when hovering over them*/

.app_container_3 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #6dc9fd 75%, white 100%);
  }